In [1]:
import pandas as pd
import numpy as np

In [2]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
spark_session = SparkSession.builder\
        .master("spark://192.168.2.70:7077")\
        .appName("Jinglin_PartB")\
        .config("spark.dynamicAllocation.enabled", True)\
        .config("spark.dynamicAllocation.shuffleTracking.enabled", True)\
        .config("spark.shuffle.service.enabled", True)\
        .config("spark.dynamicAllocation.executorIdleTimeout", "30s")\
        .config("spark.cores.max", 4)\
        .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext

spark_context.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/.local/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/22 12:40:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sqlContext = SQLContext(spark_session.sparkContext)

/home/ubuntu/.local/lib/python3.10/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [5]:
#  Load the CSV file from HDFS, and call show() to verify the data is loaded correctly.
df = sqlContext.read.csv('hdfs://192.168.2.70:9000/parking-citations.csv',
                        header = 'true', inferSchema = 'true').cache()
df.show()

+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|Ticket number|         Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date| VIN|Make|Body Style|Color|            Location|Route|Agency|Violation code|Violation Description|Fine amount| Latitude|Longitude|Agency Description|Color Description|Body Style Description|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|   1103341116|2015-12-21 00:00:00|    1251.0|    null|       null|            CA|         200304.0|null|HOND|        PA|   GY|     13147 WELBY WAY|01521|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|  99999.0|  99999.0|              null|             null|                  null|
|   1103700150|2015-12-21 00:00:00|    1435.0|    null|       null|            CA|         201512.0|null| GMC|        VN|   WH|       525 S MAIN ST| 1C51|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|  99999.0|  99999.0|              null|             null|                  null|
|   1104803000|2015-12-21 00:00:00|    2055.0|    null|       null|            CA|         201503.0|null|NISS|        PA|   BK|       200 WORLD WAY|  2R2|   2.0|          8939|           WHITE CURB|       58.0|6439997.9|1802686.4|              null|             null|                  null|
|   1104820732|2015-12-26 00:00:00|    1515.0|    null|       null|            CA|             null|null|ACUR|        PA|   WH|       100 WORLD WAY| 2F11|   2.0|           000|               17104h|       null|6440041.1|1802686.2|              null|             null|                  null|
|   1105461453|2015-09-15 00:00:00|     115.0|    null|       null|            CA|         200316.0|null|CHEV|        PA|   BK|  GEORGIA ST/OLYMPIC|1FB70|   1.0|         8069A| NO STOPPING/STANDING|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106226590|2015-09-15 00:00:00|      19.0|    null|       null|            CA|         201507.0|null|CHEV|        VN|   GY|  SAN PEDRO S/O BOYD|1A35W|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106500452|2015-12-17 00:00:00|    1710.0|    null|       null|            CA|         201605.0|null|MAZD|        PA|   BL|     SUNSET/ALVARADO|00217|   1.0|          8070| PARK IN GRID LOCK ZN|      163.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106500463|2015-12-17 00:00:00|    1710.0|    null|       null|            CA|         201602.0|null|TOYO|        PA|   BK|     SUNSET/ALVARADO|00217|   1.0|          8070| PARK IN GRID LOCK ZN|      163.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106506402|2015-12-22 00:00:00|     945.0|    null|       null|            CA|         201605.0|null|CHEV|        PA|   BR|      721 S WESTLAKE| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106506413|2015-12-22 00:00:00|    1100.0|    null|       null|            CA|         201701.0|null|NISS|        PA|   SI|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106506424|2015-12-22 00:00:00|    1100.0|    null|       null|            CA|         201511.0|null|FORD|        TR|   WH|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106506435|2015-12-22 00:00:00|    1105.0|    null|       null|            CA|         201701.0|null|CHRY|        PA|   GO|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106506446|2015-12-22 00:00:00|    1110.0|    null|       null|            CA|         201511.0|null| BMW|        PA|   BK|      1200 W MIRAMAR| 2A75|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|  99999.0|  99999.0|              null|             null|                  null|
|   1106549754|2015-12-15 00:00:00|     825.0|    null|       null|            CA|         201607.0|null|PTRB|        TR|   BK|           4TH/STATE| CM96|   1.0|         8069A| NO STOPPING/STANDING|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107179581|2015-12-27 00:00:00|    1055.0|    null|       null|            CA|         201605.0|null|TOYO|        PA|   BK|3100 N HOLLYRIDGE DR| null|  54.0|         8058L|         PREF PARKING|       68.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107179592|2015-12-27 00:00:00|    1200.0|    null|       null|            CA|         201602.0|null|MBNZ|        PA|   BK|   3115 N BERENDO DR| null|  54.0|         8058L|         PREF PARKING|       68.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107179603|2015-12-27 00:00:00|    1400.0|    null|       null|            CA|         201611.0|null|NISS|        PA|   WH| 3100 N BEACHWOOD DR| null|  54.0|         8058L|         PREF PARKING|       68.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107539823|2015-09-16 00:00:00|    2120.0|    null|       null|            CA|         201502.0|null|NISS|        PA| null|      BLAINE/11TH PL|1FB95|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107539834|2015-09-16 00:00:00|    1045.0|    null|       null|            CA|             null|null|CHEV|        PA|   BK|  1246 S FIGUEROA ST| 1L20|   1.0|        8069AP|     NO STOP/STAND PM|       93.0|  99999.0|  99999.0|              null|             null|                  null|
|   1107780811|2015-12-22 00:00:00|    1102.0|    null|       null|            CA|         201606.0|null|HOND|        PA|   BK|       PLATA/RAMPART|  2A1|   1.0|         8069B|           NO PARKING|       73.0|  99999.0|  99999.0|              null|             null|                  null|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
only showing top 20 rows

In [6]:
# Print the schema for the DataFrame
df.printSchema()

root
 |-- Ticket number: string (nullable = true)
 |-- Issue Date: timestamp (nullable = true)
 |-- Issue time: double (nullable = true)
 |-- Meter Id: string (nullable = true)
 |-- Marked Time: double (nullable = true)
 |-- RP State Plate: string (nullable = true)
 |-- Plate Expiry Date: double (nullable = true)
 |-- VIN: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Body Style: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Agency: double (nullable = true)
 |-- Violation code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- Fine amount: double (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Agency Description: string (nullable = true)
 |-- Color Description: string (nullable = true)
 |-- Body Style Description: string (nullable = true)

In [7]:
# Count the number of rows in the CSV file
df.count()

13077724

In [8]:
# Count the number of partitions in the underlying RDD.
df.rdd.getNumPartitions()

16

In [12]:
# Drop the columns VIN, Latitude and Longitude
df = df.drop("VIN", "Latitude", "Longitude")

In [14]:
df.printSchema()

root
 |-- Ticket number: string (nullable = true)
 |-- Issue Date: timestamp (nullable = true)
 |-- Issue time: double (nullable = true)
 |-- Meter Id: string (nullable = true)
 |-- Marked Time: double (nullable = true)
 |-- RP State Plate: string (nullable = true)
 |-- Plate Expiry Date: double (nullable = true)
 |-- Make: string (nullable = true)
 |-- Body Style: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Agency: double (nullable = true)
 |-- Violation code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- Fine amount: double (nullable = true)
 |-- Agency Description: string (nullable = true)
 |-- Color Description: string (nullable = true)
 |-- Body Style Description: string (nullable = true)

In [25]:
# Find the maximum fine amount. 
df['Fine amount'].cast('float')
df.select(max(df['Fine amount']).alias("Fine_max")).show()

+--------+
|Fine_max|
+--------+
|  1100.0|
+--------+

In [30]:
# How many fines have this amount?
filterdata = df.filter(df['Fine amount'] == 1100.0)
occurrence = filterdata.count()
print(f'Fine_max shows {occurrence} times')

Fine_max shows 626 times

In [34]:
# Show the top 20 most frequent vehicle makes, and their frequencies
makes = df.groupby('Make').count()
makes.sort("count", ascending=False).take(20)

[Row(Make='TOYT', count=2150768),
 Row(Make='HOND', count=1479996),
 Row(Make='FORD', count=1116235),
 Row(Make='NISS', count=945133),
 Row(Make='CHEV', count=892676),
 Row(Make='BMW', count=603092),
 Row(Make='MERZ', count=543298),
 Row(Make='VOLK', count=432030),
 Row(Make='HYUN', count=404917),
 Row(Make='DODG', count=391686),
 Row(Make='LEXS', count=368420),
 Row(Make='KIA', count=328155),
 Row(Make='JEEP', count=316300),
 Row(Make='AUDI', count=255395),
 Row(Make='MAZD', count=242344),
 Row(Make='OTHR', count=205546),
 Row(Make='GMC', count=184889),
 Row(Make='INFI', count=174315),
 Row(Make='CHRY', count=159948),
 Row(Make='SUBA', count=154640)]

In [36]:
# Create a User Defined Function to create a new column 'color long'
def map_color(color):
    COLORS = {
        'AL': 'Aluminum',
        'AM': 'Amber',
        'BG': 'Beige',
        'BK': 'Black',
        'BL': 'Blue',
        'BN': 'Brown',
        'BR': 'Brown',
        'BZ': 'Bronze',
        'CH': 'Charcoal',
        'DK': 'Dark',
        'GD': 'Gold',
        'GO': 'Gold',
        'GN': 'Green',
        'GY': 'Gray',
        'GT': 'Granite',
        'IV': 'Ivory',
        'LT': 'Light',
        'OL': 'Olive',
        'OR': 'Orange',
        'MR': 'Maroon',
        'PK': 'Pink',
        'RD': 'Red',
        'RE': 'Red',
        'SI': 'Silver',
        'SL': 'Silver',
        'SM': 'Smoke',
        'TN': 'Tan',
        'VT': 'Violet',
        'WT': 'White',
        'WH': 'White',
        'YL': 'Yellow',
        'YE': 'Yellow',
        'UN': 'Unknown'
    }
    return COLORS.get(color, color)

convertUDF = udf(lambda color: map_color(color), StringType())
add_colorlong = df.withColumn("color long", convertUDF(col("Color")))
add_colorlong.show()

+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
|Ticket number|         Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date|Make|Body Style|Color|            Location|Route|Agency|Violation code|Violation Description|Fine amount|Agency Description|Color Description|Body Style Description|color long|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
|   1103341116|2015-12-21 00:00:00|    1251.0|    null|       null|            CA|         200304.0|HOND|        PA|   GY|     13147 WELBY WAY|01521|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|              null|             null|                  null|      Gray|
|   1103700150|2015-12-21 00:00:00|    1435.0|    null|       null|            CA|         201512.0| GMC|        VN|   WH|       525 S MAIN ST| 1C51|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|              null|             null|                  null|     White|
|   1104803000|2015-12-21 00:00:00|    2055.0|    null|       null|            CA|         201503.0|NISS|        PA|   BK|       200 WORLD WAY|  2R2|   2.0|          8939|           WHITE CURB|       58.0|              null|             null|                  null|     Black|
|   1104820732|2015-12-26 00:00:00|    1515.0|    null|       null|            CA|             null|ACUR|        PA|   WH|       100 WORLD WAY| 2F11|   2.0|           000|               17104h|       null|              null|             null|                  null|     White|
|   1105461453|2015-09-15 00:00:00|     115.0|    null|       null|            CA|         200316.0|CHEV|        PA|   BK|  GEORGIA ST/OLYMPIC|1FB70|   1.0|         8069A| NO STOPPING/STANDING|       93.0|              null|             null|                  null|     Black|
|   1106226590|2015-09-15 00:00:00|      19.0|    null|       null|            CA|         201507.0|CHEV|        VN|   GY|  SAN PEDRO S/O BOYD|1A35W|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|              null|             null|                  null|      Gray|
|   1106500452|2015-12-17 00:00:00|    1710.0|    null|       null|            CA|         201605.0|MAZD|        PA|   BL|     SUNSET/ALVARADO|00217|   1.0|          8070| PARK IN GRID LOCK ZN|      163.0|              null|             null|                  null|      Blue|
|   1106500463|2015-12-17 00:00:00|    1710.0|    null|       null|            CA|         201602.0|TOYO|        PA|   BK|     SUNSET/ALVARADO|00217|   1.0|          8070| PARK IN GRID LOCK ZN|      163.0|              null|             null|                  null|     Black|
|   1106506402|2015-12-22 00:00:00|     945.0|    null|       null|            CA|         201605.0|CHEV|        PA|   BR|      721 S WESTLAKE| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|              null|             null|                  null|     Brown|
|   1106506413|2015-12-22 00:00:00|    1100.0|    null|       null|            CA|         201701.0|NISS|        PA|   SI|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|              null|             null|                  null|    Silver|
|   1106506424|2015-12-22 00:00:00|    1100.0|    null|       null|            CA|         201511.0|FORD|        TR|   WH|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|              null|             null|                  null|     White|
|   1106506435|2015-12-22 00:00:00|    1105.0|    null|       null|            CA|         201701.0|CHRY|        PA|   GO|     1159 HUNTLEY DR| 2A75|   1.0|        8069AA|     NO STOP/STAND AM|       93.0|              null|             null|                  null|      Gold|
|   1106506446|2015-12-22 00:00:00|    1110.0|    null|       null|            CA|         201511.0| BMW|        PA|   BK|      1200 W MIRAMAR| 2A75|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|              null|             null|                  null|     Black|
|   1106549754|2015-12-15 00:00:00|     825.0|    null|       null|            CA|         201607.0|PTRB|        TR|   BK|           4TH/STATE| CM96|   1.0|         8069A| NO STOPPING/STANDING|       93.0|              null|             null|                  null|     Black|
|   1107179581|2015-12-27 00:00:00|    1055.0|    null|       null|            CA|         201605.0|TOYO|        PA|   BK|3100 N HOLLYRIDGE DR| null|  54.0|         8058L|         PREF PARKING|       68.0|              null|             null|                  null|     Black|
|   1107179592|2015-12-27 00:00:00|    1200.0|    null|       null|            CA|         201602.0|MBNZ|        PA|   BK|   3115 N BERENDO DR| null|  54.0|         8058L|         PREF PARKING|       68.0|              null|             null|                  null|     Black|
|   1107179603|2015-12-27 00:00:00|    1400.0|    null|       null|            CA|         201611.0|NISS|        PA|   WH| 3100 N BEACHWOOD DR| null|  54.0|         8058L|         PREF PARKING|       68.0|              null|             null|                  null|     White|
|   1107539823|2015-09-16 00:00:00|    2120.0|    null|       null|            CA|         201502.0|NISS|        PA| null|      BLAINE/11TH PL|1FB95|   1.0|        4000A1|   NO EVIDENCE OF REG|       50.0|              null|             null|                  null|      null|
|   1107539834|2015-09-16 00:00:00|    1045.0|    null|       null|            CA|             null|CHEV|        PA|   BK|  1246 S FIGUEROA ST| 1L20|   1.0|        8069AP|     NO STOP/STAND PM|       93.0|              null|             null|                  null|     Black|
|   1107780811|2015-12-22 00:00:00|    1102.0|    null|       null|            CA|         201606.0|HOND|        PA|   BK|       PLATA/RAMPART|  2A1|   1.0|         8069B|           NO PARKING|       73.0|              null|             null|                  null|     Black|
+-------------+-------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
only showing top 20 rows

In [53]:
df_istoyota = add_colorlong.withColumn("is_toyota", col("Make")=="TOYT")
color_count = df_istoyota.groupBy(["color long", "is_toyota"]).count()
toyota_color_count = color_count.filter(col("is_toyota")).orderBy(col("count").desc())
toyota_color_count.first()

Row(color long='Gray', is_toyota=True, count=489697)

In [ ]:
# Based on the result, gray is the most frequent color value for Toyotas.